.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.each-box {
  border: 2px solid black;
  width:100px;
  height: 100px;
  cursor: pointer;
  color: black;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.each-box:nth-child(3) {
  border-top-right-radius: 10px;
}
.each-box:nth-child(1) {
  border-top-left-radius: 10px;
}
.each-box:nth-child(7) {
  border-bottom-left-radius: 10px;
}
.each-box:nth-child(9) {
  border-bottom-right-radius: 10px;
}
.each-box:hover {
  background-color:rgb(233, 239, 244);
}
